.header a {
  text-decoration: none;
  padding: 5px;
  margin-right: 20px;
  /* background-color: aqua; */
  color: black;
}
/* .header a:hover{
 
} */
.active{
  background-color:aqua ;
}